[submodule "Libraries/SlopCrew"]
	path = Libraries/SlopCrew
	url = https://github.com/SlopCrew/SlopCrew.git
[submodule "Libraries/CrewBoomAPI"]
	path = Libraries/CrewBoomAPI
	url = https://github.com/SGiygas/CrewBoomAPI
